<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block name %}{% endblock %} - Name</title>
    {% endblock %}
    
</head>
<body>

    <div class="container">{% block content %}

        <div class= "logo"> 
            <a href="/"></a>

        </div>

        <div class="header"> 
            <ul>
                
                <!-- <li><a href="/">The Daily Five</a></li> -->
                <li><a href="general">General</a></li>
                <li><a href="technology">Technology</a></li>
                <li><a href="politics">Politics</a></li>
                <li><a href="sports">Sports</a></li>
                <li><a href="environment">Environment</a></li>
                {% block nav %} <li><a href="account">My Account</a></li> {% endblock %}
                
            </ul> 
        </div>
        
        <div  class ="title" >{% block title %} Title {% endblock %}</div>
        
        
    {% endblock %}</div>
    
</body>
</html>